.el-login-msg{
    text-align: center;
    font-family: 'Roboto Slab';
    font-weight: 100;
    font-size: 100px;
    color: #845EC2;
    padding-top: 10%;
    padding-bottom: 3%;
}

.form-login-submit{
    width: 40%;
}

.field-login-input{
    display: flex;
    height: 60px;
    border-radius: 6px;
    border-color: #845EC2;
    border-width: 1px;
    align-items: center;
}

.input-login{
    flex: 1;
    margin-left: 10px;
    border: 0;
    font-family: 'Roboto Slab';
    font-weight: 100;
    font-size: 30px;
    color: #845EC2;
}

.icon-login-profile{
    height: 60%;
    width: auto;
}

.el-login-help-msg{
    font-family: 'Roboto Slab';
    font-weight: 100;
    color: #845EC2;
}