#profile-main-content
{   
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
    background-color: #845EC2;
    color: #d3df1f;
    overflow: auto;
    font-family: "Roboto Slab";
    font-style: Medium;
    font-size: 16px;
    vertical-align: Top;
}

#section-canvas 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height:fit-content;
    top:0;
    background-color: #845EC2;
    color: #d3df1f;    
}

#translation-list-canvas
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40%;
    top: 100px;
    background-color: #845EC2;
    color: #d3df1f;
    border: 3px solid #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#Greetings
{
    margin-right: 55px;
}

#btn-logout 
{
    margin-right: 10px;
}

#btn-translation-page-button
{
    margin-left: 10px;
}

#clear-translation-history-button
{
    position: relative;
}

.oval-button
{
    background-color: #FED15C;
    border-radius: 10px;
    border: 0;
    padding: 10px 15px;
    color: #FFFFFF;
}






/* 
Font family: Roboto Slab
Font style: Medium
Font size: 32px
Line height: 42px
Line height: 100%
Align: Left
Vertical align: Top */