.el-header{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #FED15C;
    justify-content: space-between;
    align-items: center;
}

.el-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.el-footer{
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    bottom: 0;  
    width: 100%;
    height: 30px;
    background-color: #845EC2;
    align-items: center;
}

.logo{
    width: auto;
    height: 55%;
    padding-left: 2%;
    overflow: hidden;
}

.footer-credit{
    color: #FFFFFF;
    font-family: 'Roboto Slab';
    font-weight: 400;
    padding: 1.25%;
    white-space: nowrap;
    overflow: hidden;
}

.btn-submit{
    border: none;
    padding: 0;
    background: none;
    width: 50px;
    height: 50px;
}

.icon-btn-submit{
    width: 100%;
}