.btn-profile{
    display: flex;
    border: none;
    padding: 0;
    background-color: #845EC2;
    border-radius: 55px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

.icon-translate-profile{
    height: 25px;
    padding: 8px;
}

.el-profile-name{
    font-family: "Roboto Slab";
    font-weight: 100;
    color: #FFFFFF;
    padding-right: 10px;
}

.form-translate-submit{
    width: 60%;
}

.field-translate-input{
    display: flex;
    height: 60px;
    border-radius: 30px;
    border-color: #845EC2;
    border-width: 3px;
    align-items: center;
    margin-block: 30px;
}

.input-translate{
    flex: 1;
    margin-left: 10px;
    border: 0;
    font-family: 'Roboto Slab';
    font-weight: 100;
    font-size: 45px;
    color: #845EC2;
}

.el-translate-output-container{
    display: flex;
    border-radius: 30px;
    padding: 10px;
    width: 90%;
    height: 280px;
    background-color: #FED15C;
    overflow: auto;
}

.icon-sign-lang{
    margin: 10px;
    width: 120px;
}